apiVersion: v1
kind: ConfigMap
metadata:
  name: fraud-detection-config
  namespace: fraud-detection
data:
  FRAUD_DETECTION_SERVICE_URL: "http://fraud-detection-service:8002"
  AUTH_SERVICE_URL: "http://auth-service:8000"
  DEBUG: "False"

